<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <span>TT</span>
    </div>
    <div class="footer-social">
      <a
        href="https://github.com/Taimour2003"
        class="social-link"
        target="_blank"
        rel="noreferrer"
        ><i class="fab fa-github"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/taimour-tariq-engineer"
        class="social-link"
        target="_blank"
        rel="noreferrer"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a href="mailto:taimourtariq2003@gmail.com" class="social-link"
        ><i class="fas fa-envelope"></i
      ></a>
      <a
        href="https://www.instagram.com/taimourtariq2003"
        class="social-link"
        target="_blank"
        rel="noreferrer"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
    <div class="footer-copyright">
      <p>&copy; 2024 Taimour Tariq. All Rights Reserved.</p>
    </div>
  </div>
</footer>
